
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>

<body>

    <div class="container">
        <img src="~/Content/images/theater.jpg" width="1200" height="400" />

        <center>
            <h1 class="home-about-centered" style="font-family:Broadway">ABOUT US</h1>

            <div style="background: linear-gradient(to right, black, #bd1a11, black); padding: 10px;">
                <h4 class="cms-text-light" style="font-family: Broadway;">MISSION STATEMENT</h4>
                <p>To engage audiences through ensemble-driven productions with a focus on developing new works.</p>
                <br />
            </div>

            <div style="background: linear-gradient(to right, black, #f04d44, black); padding: 10px;">
                <h4 class="cms-text-light" style="font-family: Broadway">COMPANY HISTORY</h4>
                <p>
                    In 1997, Theatre Vertigo was founded by Paul Floding, Nanette Pettit and Jeff Meyers.  Since then, Theatre Vertigo has performed in numerous spaces including The Russell Street Theater, The Electric Company, Theater!Theatre!, and The Shoebox Theater.<br />
                    <br />
                    From 2003 to 2014, Theatre Vertigo produced Anonymous Theatre as a summer fundraiser in collaboration with The Anonymous Theatre Company.  Other past collaborations include defunkt theatre, Stark Raving Theater, and Tears of Joy Theatre.<br />
                    <br />
                    Theatre Vertigo has worked on world premieres including Faust.Us by Joseph Fisher, 99 Ways to Fuck a Swan by Kim Rosenstock, and The End of Sex by Craig Jessen.<br />
                    <br />
                    In 2016, Theatre Vertigo produced its first officially commissioned work from a playwright, I Want To Destroy You, by Rob Handel.<br />
                </p>
                <br />
            </div>

            <div class="container" style="background: linear-gradient(to right, black, #d6972a, black); padding: 50px;">
                <h4 class="cms-text-light mb-3" style="font-family: Broadway">ENSEMBLE</h4>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card" style="background-color: #fffbfb;">
                            <img class="card-img-top img-fluid" src="~/Content/images/Cast_Img_1.png" alt="Alanna Fagan" />
                            <div class="card-body">
                                <h5 class="card-title" style="color: black; font-family: Garamond">Alanna Fagan</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card" style="background-color: #fffbfb;">
                            <img class="card-img-top img-fluid" src="~/Content/images/Cast_Img_3.png" alt="Alexander Buckner" />
                            <div class="card-body">
                                <h5 class="card-title" style="color: black; font-family: Garamond">Alexander Buckner     </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card" style="background-color: #fffbfb;">
                            <img class="card-img-top img-fluid" src="~/Content/images/Cast_Img_6.png" alt="Victoria Alvarez-Chacon" />
                            <div class="card-body">
                                <h5 class="card-title" style="color: black; font-family: Garamond">Victoria Alvarez-Chacon</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card" style="background-color: #fffbfb;">
                            <img class="card-img-top img-fluid" src="~/Content/images/Cast_Img_7.png" alt="Heath Hyun Houghton" />
                            <div class="card-body">
                                <h5 class="card-title" style="color: black; font-family: Garamond">Heath Hyun Houghton</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <div style="background: linear-gradient(to right, black, #9d7c39, black); padding: 20px;">
                <h4 class="cms-text-light" style="font-family: Broadway;">BOARD</h4>
                <br />
                <p style="font-family: Garamond">Jamie Floyd - President</p>
            </div>
        </center>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</body>