
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>

<body id="contact-bg">

    <div class="cont-container">
        <div class="cms-bg-dark m">
            <h1 class="contact-greeting" style="font-family: Broadway">Contact Us</h1>
        </div>
            <div class="col-10">
                <form class="contact-form">
                    <div>
                        <h4 class="contact-greeting2">GET IN TOUCH</h4>
                    </div>
                    <div class="form-group">
                        <label for="inputName">First & Last Name:</label>
                        <input type="text" class="form-control" id="exampleInputEmail1">
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Email Address</label>
                        <input type="email" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-group">
                        <label for="inputSubject">Subject:</label>
                        <input type="text" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-group">
                        <label for="inputMessage">Message:</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-danger btn-block">Submit</button>
                </form>
            </div>
            <div id="right-col">
                <div class="card text-center w-50">
                    <div class="card-body contact-card-body">
                        <h5 class="card-title">DONATE</h5>
                        <p class="card-text">We've got a Patreon account! Help support live theatre in Portland, OR. by becoming a Patron today!</p>
                        <a href="#" class="btn btn-danger">Donate</a>
                    </div>
                </div>
                <div class="card text-center w-50">
                    <div class="card-body contact-card-body">
                        <h5 class="card-title">VOLUNTEER</h5>
                        <p class="card-text">Are you instrested in helping out? Click the link below to volunteer your time to help support your local theatre!</p>
                        <a href="#" class="btn btn-danger">Volunteer</a>
                    </div>
                </div>
            </div>
    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>

