/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root { /* Color palette for css */
/* --main-color: #BD1A11;  Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*}*/

/*Blog Auther Create Styling*/
form {
    width: 100%;
}
.form-group {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
    flex-direction: column !important;
    text-align: left !important;
}
.blogauthor-create-container {
    height: 60%;
    background-color: var(--main-color--light);
    color: var(--light-color);
    text-align: left;
    border-radius: 20px 20px 20px 20px;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blogauthor-create-savebtn {
    padding: 0.8%;
    border-radius: 7px;
    margin: 10px;
    background-color: green;
    color: var(--light-color);
    width: 10%;
    height: 15%;
    text-align: center;
}

.blogauthor-create-backbtn {
    padding: 1%;
    border-radius: 7px;
    margin: 10px;
    background-color: #171717;
    color: var(--light-color);
    width: 15%;
    height: 15%;
    text-align: center;
}


.blogauthor-create-rows {
        display: flex;
    }

.blogauthor-create-bioheight {
    width: 100%;
    height: 150px;
    border-radius: 7px;
}

.blogauthor-create-h4container {
    padding: 5%;
}

/*Blog Auther Edit Styling*/
.blogauthor-edit-container {
    height: 60%;
    background-color: var(--main-color--light);
    color: var(--light-color);
    text-align: left;
    border-radius: 20px 20px 20px 20px;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blogauthor-edit-savebtn {
    padding: 0.8%;
    border-radius: 7px;
    margin: 10px;
    background-color: green;
    color: var(--light-color);
    width: 10%;
    height: 15%;
    text-align: center;
}

.blogauthor-edit-backbtn {
    padding: 1%;
    border-radius: 7px;
    margin: 10px;
    background-color: #171717;
    color: var(--light-color);
    width: 15%;
    height: 15%;
    text-align: center;
}

.blogauthor-edit-rows {
    display: flex;
}

.blogauthor-edit-bioheight {
    width: 100%;
    height: 150px;
    border-radius: 7px;
}

.blogauthor-edit-h4container {
    padding: 5%;
}

/*Blog Author Details Styling*/
.blogauthor-index-container {
    height: 420px;
    width: 1000px;
    background-color: var(--light-color);
    color: var(--dark-color));
    text-align: left;
    font-size: large;
    
}

.blogauthor-details-blogcontainer {
    height: 80%;
    background-color: var(--light-color);
}

.blogauthor-details-blogphoto {
    float: left;
    height: 30%;
    width: 45%;
    border: 1px solid var(--dark-color);
    justify-content: left;
    display: flex;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

.blogauthor-details-Blog_info {
    font-size: large;
    color: black;
}


.blogauthor-details-extrabtn {
    width: 40%;
    height: 10%;
    padding: 1%;
    margin: 5px;
    border-radius: 7px;
    background-color: #171717;
    color: var(--light-color);
    text-align: center;
    display: flex;
    justify-content: center;
    
}

.blogauthor-details-titlecontainer {
    width: 62%;
    margin-top: 30%;
    border-radius: 7px;
    background-color: var(--light-color);
    text-align: center;
    display: flex;
    justify-content: center;
    
}

.blogauthor-details-extrabtn:hover {
    background-color: green;
}

.blogauthor-details-stylingrow {
        display: flex;
        justify-content: center;
        margin-left: 32rem;
        flex-direction: column;
        width: 20rem;
    }

.blogauthor-details-stylingbtmrow {
    display: flex;
    margin-top: -8px;
    margin-left: -10px;
}


.blogauthor-create-backbtn {
    width: 15%;
    height: 10%;
    padding: 1%;
    border-radius: 7px;
    background-color: #171717;
    color: var(--light-color);
    text-align: center;
    display: flex;
    justify-content: center;
}

.blogauthor-create-editbtn {
    width: 10%;
    height: 10%;
    padding: 1%;
    margin-top: 10px;
    border-radius: 7px;
    background-color: green;
    color: var(--light-color);
    text-align: center;
    display: flex;
    justify-content: center;
}

.fa-solid.fa-circle-arrow-left {
    margin-right: 10px;
    margin-top: 3px;
}

.fa-solid.fa-pen-to-square {
    margin-right: 10px;
    margin-top: 3px;
}

.dl-horizontal {
    margin-left: 32rem;
    padding-top: 4rem;
}

.blogauthor-details-stylingbootstrap {
    margin-left: 32rem;
}

/*Blog Photo Create Styling*/
   
    
    .blogphoto-create-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

}


.blogphoto-create-container {
    height: 60%;
    background-color: var(--main-color--light);
    color: var(--light-color);
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.blogphoto-create-submitbtn {
    padding: 0.8%;
    border-radius: 7px;
    margin: 10px;
    background-color: #BD1A11;
    color: var(--light-color);
    width: 25%;
    height: 75%;
    text-align: center;
}

.blogphoto-create-backbtn {
    padding: 0.8%;
    border-radius: 7px;
    margin: 10px;
    background-color: black;
    color: white;
    width: 25%;
    height: 75%;
    text-align: center;
}


.blogphoto-create-rows {
    display: flex;
}

.blogphoto-create-bioheight {
    width: 100%;
    height: 150px;
    border-radius: 7px;
}

.blogphoto-create-h4container {
    padding: 5%;

}

/*Blog Photo Edit Styling*/


.blogphoto-edit-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}


.blogphoto-edit-container {
    height: 60%;
    background-color: var(--main-color--light);
    color: var(--light-color);
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blogphoto-edit-submitbtn {
    padding: 0.8%;
    border-radius: 7px;
    margin: 10px;
    background-color: #BD1A11;
    color: var(--light-color);
    width: 25%;
    height: 75%;
    text-align: center;
}

.blogphoto-edit-backbtn {
    padding: 0.8%;
    border-radius: 7px;
    margin: 10px;
    background-color: black;
    color: white;
    width: 25%;
    height: 75%;
    text-align: center;
}


.blogphoto-edit-rows {
    display: flex;
}

.blogphoto-edit-bioheight {
    width: 100%;
    height: 150px;
    border-radius: 7px;
}

.blogphoto-edit-h4container {
    padding: 5%;
}

.image-button {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    text-indent: -9999px;
    border: none;
    cursor: pointer;
}