@page
@model TimeModel


<!-- This prints the current server time to the page -->
<h1>The current server time is: </h1>
<p>@Model.ServTime</p>

<!-- This prints the current day of the week to the page -->
<h2>It's a @DateTime.Now.DayOfWeek!</h2>